#banner {
    width: 100%;
}

.principal {
    background: #cccccc;
    padding: 30px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-central {
    text-align: center;
}

p {
    text-align: center;
}

#missao-texto {
    font-size: 20px;
}

em strong {
    color: #ff0000;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #ffffff;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    list-style: none;
}

.img-beneficios {
    width: 50%;
}